// миксин для нейминга подключаемых шрифтов ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"),
			url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
@import "vars";
@import "fonts";
@import "global";

// begin section header =====================================================================
.header {
	&__top-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 90px;
	}

	&__text {
		margin-left: auto;
		margin-right: 50px;
	}

	&__text-link {
		color: $red;
	}

	&__img {
		max-width: 144px;
		object-fit: cover;
	}

	&__btn {
		padding: 4px 9px;
		min-width: 72px;
		border-radius: 4px;
		background-color: $green;
		color: #fff;
		text-align: center;
		font-size: 12px;

		&--login-color {
			background-color: $green;
		}

		&--reg-color {
			background-color: $red;
			margin-left: 7px;
		}
	}

	&__menu {
		background-color: #263238;
	}
}

.menu {
	display: flex;
	align-items: center;
	min-height: 60px;

	&__list {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	&__list-item {
		display: inline-block;
	}

	&__list-item + .menu__list-item {
		margin-left: 30px;
	}

	&__link {
		color: #fff;
		font-size: 14px;
	}
}
// end section header =======================================================================

// begin section search =====================================================================
.search {
	background-color: #00c118;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 533px;

	&__inner {
		padding: 135px 0 100px;
		color: #fff;
		text-align: center;
	}

	&__title {
		margin-bottom: 10px;
		font-size: 48px;
		line-height: 48px;
		font-weight: 700;
	}

	&__text {
		margin-bottom: 50px;
		font-size: 20px;
		font-weight: 500;
	}

	&__form {
		margin: 0 auto;
		max-width: 670px;
		position: relative;
	}

	&__input {
		display: block;
		padding-left: 25px;
		padding-right: 60px;
		min-height: 56px;
		width: 100%;
		box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
		border-radius: 4px;
		border: none;
		outline: transparent;
		font-size: 14px;
		font-weight: 500;
		&::placeholder {
			color: #90a4ae;
		}
	}

	&__btn {
		position: absolute;
		top: 16px;
		right: 20px;
		border: none;
		background-color: transparent;
	}

	&__icon {
		max-width: 20px;
		object-fit: cover;
	}
}
// end section search =======================================================================

// begin section products =====================================================================
.products {
	padding: 110px 0;
	background-color: $grey;

	&__product-item {
		margin-bottom: 30px;
	}

	&__title {
		margin-bottom: 40px;
	}

	&__btns {
		margin-bottom: 60px;
		text-align: center;
	}

	&__btn {
		padding: 12px 21px;
		border: none;
		background-color: #fff;
		color: $bg;
		cursor: pointer;
		outline: transparent;

		& + .products__btn {
			margin-left: 5px;
		}

		&.mixitup-control-active {
			background-color: $red;
			color: #fff;
		}
	}

	&__box {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__bottom-btns {
		margin-top: 45px;
		text-align: center;
	}

	&__bottom-btn {
		padding: 20px 30px;
		margin-left: 5px;
		box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
		border: none;
		background-color: #fff;
		color: $bg;
		cursor: pointer;
		outline: transparent;
	}
}

.product-item {
	max-width: 442px;
	box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
	border-bottom: 1px solid #e7ecf2;

	width: 100%;
	&__img {
		display: block;
		min-height: 250px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 30px;
		min-height: 90px;
		font-weight: 500;
		border-bottom: 1px solid #e7ecf2;
	}

	&__name {
		max-width: 310px;
	}

	&__author-name {
		max-width: 245px;
	}

	&__title {
		display: block;
		color: $bg;
		font-size: 18px;
	}

	&__category {
		display: block;
		font-size: 14px;
		color: $green;
	}

	&__price {
		font-size: 20px;
		color: $bg;
		font-weight: 700;
	}

	&__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 70px;
		padding: 10px 30px;
	}

	&__author {
		display: flex;
		align-items: center;
	}

	&__author-name {
		font-size: 14px;
		font-weight: 500;
	}

	&__author-avatar {
		margin-right: 14px;
		display: inline-block;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__star {
		span {
			color: $bg;
		}
	}
}
// end section products =======================================================================

// begin section product-slider =====================================================================
.product-slider {
	padding: 110px 0 120px;

	&__title {
		margin-bottom: 55px;
	}

	.slick-dots {
		list-style-type: none;
		padding: 0;
		margin: 65px 0 0;
		text-align: center;
		li {
			display: inline-block;
			margin-left: 3px;
			margin-right: 3px;
			&.slick-active {
				button {
					background-color: $green;
				}
			}
			button {
				cursor: pointer;
				width: 16px;
				height: 16px;
				background-color: #e8e8e8;
				border-radius: 50%;
				border: none;
				font-size: 0;
				outline: transparent;
			}
		}
	}
}
// end section product-slider =====================================================================

// begin section advantages =====================================================================
.advantages {
	padding: 110px 0;
	background-color: $bg;

	&__title {
		color: #ffffff;
		margin-bottom: 80px;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		max-width: 370px;
		text-align: center;
		padding: 0 15px;

		&:hover {
			.advantages__image {
				background-color: $green;
				transition: all 0.3s;
				g {
					fill: #fff;
				}
			}
			.advantages__item-title {
				color: $green;
				transition: all 0.3s;
			}
		}
	}

	&__image {
		width: 114px;
		height: 114px;
		background-color: #fff;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto 30px;
	}

	&__item-title {
		margin-bottom: 25px;
		color: #fff;
		@include f500;
		font-size: 24px;
	}

	&__text {
		font-size: 15px;
	}
}
// end section advantages =====================================================================

// begin section author =====================================================================
.author {
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 761px;

	&__box {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 650px;
		width: 100%;
		min-height: 215px;
		background-color: $green;
	}

	&__title {
		max-width: 260px;
		margin-right: 45px;
		font-size: 30px;
		line-height: 30px;
		color: #fff;
	}

	&__num {
		@include f700;
		font-size: 30px;
	}

	&__link {
		min-width: 225px;
		text-align: center;
		padding: 19px 15px;
		font-size: 18px;
		background-color: #fff;
	}
}
// end section author =====================================================================

// begin section tutorial =====================================================================
.tutorial {
	padding: 60px 0 120px;

	&__title {
		margin-bottom: 55px;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		max-width: 370px;
		width: 100%;
	}

	&__image {
		min-height: 270px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}

	&__item-title {
		background-color: #f8f8f8;
		padding: 30px 10px;
		font-size: 24px;
		@include f700;
		color: $bg;
		text-align: center;
	}
}
// end section tutorial =====================================================================

// begin  footer =====================================================================
.footer {
	background-color: $bg;

	&__inner {
		display: flex;
		justify-content: space-between;

		padding: 100px 0 80px;
	}

	&__col {
		max-width: 270px;
		width: 100%;
		&.footer__col-menu {
			max-width: 220px;
			width: 100%;
		}
	}

	&__col-title {
		padding-bottom: 30px;
		margin-bottom: 30px;
		font-size: 22px;
		font-family: "Raleway", sans-serif;
		font-weight: 700;
		color: #ffffff;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 2px;
			width: 51px;
			height: 3px;
			background-color: $green;
		}
	}

	&__text {
		color: #b7c3c8;
		margin-bottom: 30px;
	}

	&__info {
		padding-left: 30px;
		margin-top: 18px;
		@include f500;
		color: #fff;
		position: relative;
		&::before {
			content: "\f041";
			position: absolute;
			left: 0;
			font-family: "icomoon";
			color: $green;
			font-size: 18px;
		}
	}

	&__info-phone {
		&::before {
			content: "\f095";
			position: absolute;
			font-family: "icomoon";
		}
	}

	&__col-list {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	&__col-link {
		padding-left: 22px;
		position: relative;
		margin-bottom: 13px;
		color: #b7c3c8;
		&::before {
			content: "\f105";
			color: $green;
			position: absolute;
			left: 0;
			font-family: "icomoon";
			font-size: 18px;
		}
	}

	&__social-list {
		padding: 0;
		margin: 0;
		list-style-type: none;
		margin-bottom: 33px;
	}

	&__social-item {
		display: inline-block;
		& + .footer__social-item {
			margin-left: 7px;
		}
	}

	&__social-link {
		width: 28px;
		height: 28px;
		background-image: url(../images/css_sprites.png);

		.webp &--twitter {
			background: url("css_sprites.png") -28px -0;
		}

		.webp &--youtube {
			background: url("css_sprites.png") -0 -28px;
		}

		.webp &--pinterest {
			background: url("css_sprites.png") -28px -28px;
		}

		.webp &--linkedin {
			background: url("css_sprites.png") -56px -0;
		}
	}

	&__form-title {
		margin-bottom: 15px;
		color: #ffffff;
		font-size: 20px;
	}

	&__form {
		position: relative;
	}

	&__input {
		border: none;
		background-color: #2f3c43;
		display: block;
		width: 100%;
		outline: transparent;
		height: 40px;
		color: #fff;
		padding-left: 13px;
		padding-right: 50px;
		font-size: 14px;
		&::placeholder {
			color: #697378;
		}
	}

	&__btn {
		position: absolute;
		top: 0;
		right: 0;
		background-color: $green;
		border: none;
		height: 40px;
		width: 43px;
		cursor: pointer;
		&::before {
			content: "\f124";
			position: absolute;
			font-family: "icomoon";
			color: #fff;
			font-size: 20px;
			top: 11px;
			left: 13px;
		}
	}

	&__copy {
		border-top: 1px solid #424d53;
	}

	&__copy-text {
		padding: 25px 0 25px;
		text-align: center;
		color: #919699;
		font-size: 15px;
	}
}
// end  footer =====================================================================

@import "media";
