<header class="header">
	<div class="header__top">
		<div class="container">
			<div class="header__top-inner">
				<div class="header__logo">
					<a class="header__link" href="#">
						<img class="header__img" src="./images/logo.png" alt="">
					</a>
				</div>

				<div class="header__text">
					<a class="header__text-link" href="#">Need help?</a>
					Talk to an expert: <a class="header__phone" href="tel:61383766284">+61 3 8376 6284</a>
				</div>
				<div class="header__box">
					<a class="basket" href="#"></a>
					<a class="header__btn header__btn--login-color" href="#">Login</a>
					<a class="header__btn header__btn--reg-color" href="#">Register</a>
				</div>
			</div>
		</div>
	</div>
	<div class="header__menu">
		<div class="container">
			<nav class="menu">
				<ul class="menu__list">
					<li class="menu__list-item">
						<a class="menu__link" href="#">Home</a>
					</li>
					<li class="menu__list-item">
						<a class="menu__link" href="#">About</a>
					</li>
					<li class="menu__list-item">
						<a class="menu__link" href="#">WordPress</a>
					</li>
					<li class="menu__list-item">
						<a class="menu__link" href="#">Joomla</a>
					</li>
					<li class="menu__list-item">
						<a class="menu__link" href="#">PSD</a>
					</li>
					<li class="menu__list-item">
						<a class="menu__link" href="#">Plugins</a>
					</li>
					<li class="menu__list-item">
						<a class="menu__link" href="#">Components</a>
					</li>
					<li class="menu__list-item">
						<a class="menu__link" href="#">Pages</a>
					</li>
					<li class="menu__list-item">
						<a class="menu__link" href="#">Contact</a>
					</li>
					<li class="menu__list-item">
						<a class="menu__link" href="#">Help</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>