<header class="header">
	<div class="header__top">
		<div class="container">
			<div class="header__top-inner">
				<div class="header__logo">
					<a class="header__link" href="#">
						<img class="header__img" src="./images/logo.png" alt="">
					</a>
				</div>

				<div class="header__text">
					<a class="header__text-link" href="#">Need help?</a>
					Talk to an expert: <a class="header__phone" href="tel:61383766284">+61 3 8376 6284</a>
				</div>
				<div class="header__box">
					<div class="header__notification-box">
						<a class="notification header__circle header__circle--active icon-bell-o" href="#">
							<span class="notification__num notification-num">8</span>
						</a>

						<div class="circle__menu notification__menu">
							<a href="#" class="circle__item icon-bell-o icons-color">
								<img class="circle__img" src="/images/content/message.jpg" alt="">
								<div class="circle__info">
									<div class="circle__info-theme">WordPress</div>
									<div class="circle__info-date">01 Dec, 2016</div>
								</div>
							</a>
							<a href="#" class="circle__item icon-bell-o">
								<img class="circle__img" src="/images/content/message.jpg" alt="">
								<div class="circle__info">
									<div class="circle__info-theme">WordPress</div>
									<div class="circle__info-date">01 Dec, 2016</div>

								</div>
							</a>
							<a href="#" class="circle__item icon-bell-o icons-color">
								<img class="circle__img" src="/images/content/message.jpg" alt="">
								<div class="circle__info">
									<div class="circle__info-theme">WordPress</div>
									<div class="circle__info-date">01 Dec, 2016</div>
								</div>
							</a>
						</div>
					</div>
					<div class="header__message-box">
						<a class="message header__circle header__circle--active icon-envelope-o" href="#">
							<span class="message__num notification-num">5</span>
						</a>
						<div class="circle__menu message__menu">
							<a href="#" class="circle__item icon-envelope-o icons-color">
								<img class="circle__img" src="/images/content/message.jpg" alt="">
								<div class="circle__info">
									<div class="circle__info-name">Kazi Fahim</div>
									<div class="circle__info-theme">WordPress</div>
									<div class="circle__info-date">01 Dec, 2016</div>
								</div>
							</a>
							<a href="#" class="circle__item icon-envelope-o">
								<img class="circle__img" src="/images/content/message.jpg" alt="">
								<div class="circle__info">
									<div class="circle__info-name">Kazi Fahim</div>
									<div class="circle__info-theme">WordPress</div>
									<div class="circle__info-date">01 Dec, 2016</div>
								</div>
							</a>
							<a href="#" class="circle__item  icon-mail-reply">
								<img class="circle__img" src="/images/content/message.jpg" alt="">
								<div class="circle__info">
									<div class="circle__info-name">Kazi Fahim</div>
									<div class="circle__info-theme">WordPress</div>
									<div class="circle__info-date">01 Dec, 2016</div>
								</div>
							</a>
						</div>
					</div>
					<div class="header__basket-box">
						<a class="basket header__circle header__circle--active icon-shopping-cart" href="#">
							<span class="basket__num notification-num">8</span>
						</a>
						<div class="circle__menu icons-color">
							<div class="circle__item">
								<img class="circle__img" src="/images/content/basket.jpg" alt="">
								<div class="circle__info">
									<div class="circle__info-name">Grand Ballet</div>
									<div class="circle__info-theme">WordPress</div>
									<div class="circle__info-price">$59</div>
								</div>
							</div>
							<div class="circle__item">
								<img class="circle__img" src="/images/content/basket.jpg" alt="">
								<div class="circle__info">
									<div class="circle__info-name">Grand Ballet</div>
									<div class="circle__info-theme">WordPress</div>
									<div class="circle__info-price">$59</div>
								</div>
							</div>
							<div class="basket__sum">
								<div class="basket__title">
									<div class="basket__sum-total">Total</div>
									<div class="basket__sum-price">$118</div>
								</div>
								<a class="basket__btn" href="#">Go to Cart</a>
								<a class="basket__btn basket__btn-checkout" href="#">Go to Checkout</a>
							</div>
						</div>
					</div>
					<div class="header__user-box">
						<a class="user" href="#">
							<div class="user__inner">
								<div class="user__image">
									<img src="images/content/user-main.jpg" alt="">
								</div>
								<div class="user__info">
									<div class="user__name">Mike Hussy</div>
									<div class="user__money">
										$171.00
									</div>
								</div>
							</div>
						</a>
						<div class="header__user-panel">
							<ul class="header__user-menu">
								<li class="header__user-menu-item"><a class="header__user-menu-link angle-right" href="#">Profile
										Page</a>
								</li>
								<li class="header__user-menu-item"><a class="header__user-menu-link angle-right" href="#">Portfolio</a>
								</li>
								<li class="header__user-menu-item"><a class="header__user-menu-link angle-right" href="#">Account
										Setting</a></li>
								<li class="header__user-menu-item"><a class="header__user-menu-link angle-right" href="#">Downloads</a>
								</li>
								<li class="header__user-menu-item"><a class="header__user-menu-link angle-right" href="#">Wishlist</a>
								</li>
								<li class="header__user-menu-item"><a class="header__user-menu-link angle-right" href="#">Upload
										Item</a>
								</li>
								<li class="header__user-menu-item"><a class="header__user-menu-link angle-right" href="#">Statement</a>
								</li>
								<li class="header__user-menu-item"><a class="header__user-menu-link angle-right" href="#">Withdraws</a>
								</li>
							</ul>
						</div>
					</div>
					<a class="header__btn header__btn--login-color header__btn--login-off" href="#">Login</a>
					<a class="header__btn header__btn-logout header__btn--reg-color header__btn-on" href="#">Logout</a>
					<a class="header__btn header__btn--reg-color header__btn--login-off" href="#">Register</a>
				</div>
				<button class="header__btn-menu icon-user"></button>
			</div>
		</div>
	</div>
	</div>
	<div class="header__menu">
		<div class="container">
			<nav class="menu">
				<button class="menu-btn">
					<div></div>
					<div></div>
					<div></div>
				</button>
				<ul class="menu__list">
					<li class="menu__list-item">
						<a class="menu__link" href="#">Home</a>
					</li>
					<li class="menu__list-item">
						<a class="menu__link" href="#">About</a>
					</li>
					<li class="menu__list-item">
						<a class="menu__link" href="#">WordPress</a>
					</li>
					<li class="menu__list-item">
						<a class="menu__link" href="#">Joomla</a>
					</li>
					<li class="menu__list-item">
						<a class="menu__link" href="#">PSD</a>
					</li>
					<li class="menu__list-item">
						<a class="menu__link" href="#">Plugins</a>
					</li>
					<li class="menu__list-item">
						<a class="menu__link" href="#">Components</a>
					</li>
					<li class="menu__list-item">
						<a class="menu__link" href="#">Pages</a>
					</li>
					<li class="menu__list-item">
						<a class="menu__link" href="#">Contact</a>
					</li>
					<li class="menu__list-item">
						<a class="menu__link" href="#">Help</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>